/* global */
@import './colors';

html,
body {
  background: $black;
  color: white;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  line-height: 1.7;
}

h2 {
  font-family: 'Playfair';
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 5px 0;

  @media (min-width: 640px) {
    font-size: 48px;
  }
}

h3 {
  color: $peach;
  font-family: 'Playfair';
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 25px 0;
}

h4 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 10px 0;
}

p {
  margin: 0;
  padding: 0 0 35px 0;
}

::selection {
  background: $black;
  color: $peach;
}

.link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all 250ms ease;

  &:hover {
    text-decoration: underline;
  }
}

.link--colored {
  color: $peach;
}

.buttons {
  display: none;
  padding: 30px;
  z-index: 2;

  @media (min-width: 640px) {
    display: flex;
    align-items: center;

    .is-active & {
      background: $black;
      max-width: 640px;
    }
  }
}

.button {
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms ease;

  .buttons & {
    margin-right: 25px;
    &:last-of-type {
      margin-right: 0;
    }
  }

  &:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  &.is-active {
    background: $peach;
    color: $black;
  }
}

/* components */
@import './header';
@import './content';
